.headerImage{
  height: 450px;
  /*width: 100%;*/
  max-width: 1200px;
  background-color: white;
  border: 1px solid lightgrey;
}
.anchorGroup{
  margin-top: 30px;
}
.anchorBtn{
  padding: 10px;
  background-color: #ff5d00;
  box-shadow: none;
  color: white;
  border: none;
  font-size: 13px;
  /*font-weight: bold;*/
}
.linkOutArea{
  max-width: 1200px;
}
.linkBody{
  height: 200px;
}
.linkBody1{
  height: 200px;
  border-bottom: 1px solid black;
}
.logoArea{
  /*background-color: pink;*/
  width: 100%;
  height: 100px;
  padding-left: 30px;
}
.linkTitle{
  color: #6d6d6d;
  margin-top: 0;
}
.readMoreBtn{
  border-radius: 0;
  border: 1px solid #CAD5DD;
  padding: 10px 25px 10px 25px;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 13px;
}
.linkLogo{
  width: 100%;
}
.videoPreview{
  width: 100%;
}
.noPadLeft{
  padding-left: 0;
}
#video1 {
    background-image: url('../imgs/corp/vidImage1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    border: 1px solid lightgrey;
}
#video2 {
    background-image: url('../imgs/corp/vidImage2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    border: 1px solid lightgrey;
}
#video3 {
    background-image: url('http://i3.ytimg.com/vi/WxDI252wTZI/hqdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    border: 1px solid lightgrey;
    position: relative;
}
.videoSubtext{
  font-size: 12px;
}
.videoTime{
  right: 0;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 10px;
}
.fromOurSection{
  background-color: green;
  height: 500px;
  width: 100%;
}
.ceoPhoto{
  width: 100%;
}
.infoBlock{
  max-width: 80%;
  background-color: #ff5d00;
  height: 260px;
  margin: auto;
  margin-top: 120px;
}
.blockContent{
  padding: 45px;
}
.messageTitle{
  color: white;
}
.messageSubtitle{
  color: white;
}
.readLetterBtn{
    border-radius: 0;
    border: 1px solid #CAD5DD;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 13px;
    float: right;
    background-color: transparent;
    color: white;
}
