body{
  font-family: 'Roboto', sans-serif;
}
.headerImage{
  height: 400px;
  background-image: url('../imgs/corp/headerImg.jpg');
  /*background-repeat:no-repeat;
  background-size: 100% auto;
  background-position:center;*/
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border: 1px solid #f5f5f5;
  margin-top: 55px;
}
.headerMainText{
  height: 225px;
  float: right;
  font-size: 200px;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-right: 8%;
  margin-top: 80px;
  line-height: 142px;
}
.headerSubText{
  font-size: 65px;
  letter-spacing: 3px;
  margin-right: 5%;
}
.anchorGroup{
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 0;
}
.anchorGroup>li{
  padding-left: 0px;
  padding-right: 0px;
}
.anchorBtn{
  padding: 10px;
  background-color: #ff5d00;
  box-shadow: none;
  color: white;
  border: none;
  font-size: 12px;
  /*margin: 3px;*/
  font-weight: 300;
  letter-spacing: 1px;
}
.linkOutArea{
  max-width: 1200px;
}
.linkBody{
  height: 200px;
}
.borderBot{
  border-bottom: 1px solid black;
  right: 90%;
}
.logoArea{
  /*background-color: pink;*/
  width: 100%;
  height: 120px;
  padding-left: 30px;
}
.linkTitle{
  color: #6d6d6d;
  margin-top: 0;
}
.readMoreBtn{
  border-radius: 0;
  border: 1px solid #CAD5DD;
  padding: 10px 25px 10px 25px;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 13px;
  width: 200px;
}
#collapseButton{
  padding: 10px 10px 10px 10px;
  background-color: white;
}
.readMoreBtn:focus{
  background-color: white;
}
.videoPreview{
  width: 100%;
}
.noPadLeft{
  padding-left: 0;
}
#video1 {
    background-image: url('../imgs/corp/vidImage1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    border: 1px solid lightgrey;
}
#video2 {
    background-image: url('../imgs/corp/vidImage2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    border: 1px solid lightgrey;
}
#video3 {
    background-image: url('http://i3.ytimg.com/vi/WxDI252wTZI/hqdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    border: 1px solid lightgrey;
    position: relative;
}
.videoSubtext{
  font-size: 12px;
}
.videoTime{
  right: 0;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 10px;
}
.fromOurSection{
  background-image: url('../imgs/corp/woodgrain.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  width: 100%;
  padding-bottom: 80px;
}
.photoContainer{
  height: 170px;
  width: 170px;
  margin-left: 0;
  padding-left: 0;
}
.ceoPhoto{
  width: 100%;
  /*height: 180px;*/
}
.infoBlock{
  width: 90%;
  max-width: 1164px;
  background-color: #ff5d00;
  height: 245px;
  margin: auto;
  margin-top: 80px;
}
.blockContent{
  padding: 35px;
  padding-left: 30px;
}
.ceoInformationContainer{
  height: 170px;
  position: relative;
}
.messageTitle{
  color: white;
  font-weight: 100;
  letter-spacing: 2.5px;
}
.messageSubtitle{
  color: white;
  /*font-weight: 100;*/
  letter-spacing: 1.5px;
  font-size: 18px;
}
.readLetterBtn{
    border-radius: 0;
    border: 1px solid #CAD5DD;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 12px;
    /*float: right;*/
    background-color: transparent;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 15px;
}
.ceoIntroText{
  margin-left: 5%;
}
.letterText{
  background-color: white;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15px;
  transition: 5s ease;
  overflow: hidden;
  font-weight: 500;
  height: 2000px;
}
.safetyOrange{
  color: #fa5f00;
  font-size: 18px;
  font-weight: normal;
}
.grayText{
  color: gray;
}
.letterFormat{
  margin: 5%;
  line-height: 25px;
}
.growthPillars{
  width: 100%;
}
.indPillar{
  width: 90%;
  max-width: 1164px;
  height: 220px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.imagePlaceholder{
  height: 220px;
  width: 220px;
  padding: 0;
  margin: 0;
}
.noPadding{
  padding: 0;
}
.pillarTextArea{
  padding-top: 0;
  margin-top: 0;
}
.pillarTitleStyling{
  color: gray;
  font-weight: 400;
}
.pillarPhoto{
  width: 100%;
}
.point{
  font-size: 7px;
  height: 0px;
  width: 7px;
  color: #ff6400;
  margin-right: 2px;
  padding-bottom: 2px;
  display: inline-block;
  margin-left: 35px;
}
.pillarContent{
  margin-left: 45px;
  margin-right: 30px;
}
.expandButton{
  /*padding-left: 0;*/
  margin-left: 60px;
  background-color: white;
  text-align: center;
  margin-top: 21px;
  transition: 2s ease;
}
/* styles for '...' */
.pillarText {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.5em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  transition: 4s ease;
  font-weight: 500;
}

/* create the ... */
.pillarText:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
  transition: 2s ease;
}
/* hide ... if we have text, which is less than or equal to max lines */
.pillarText:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
  transition: 2s linear;
}
.pillarTextExpanded{
  max-height: 1800px;
  transition: 4s ease;
}
.hidden{
  display: none;
  /*transition: 2s ease;*/
}
.collapseButton{
  margin-left: 54px;
}
.ourEmployeesCarousel{
  /*height: 500px;*/
  width: 90%;
  max-width: 1164px;
  margin: auto;
  /*background-color: black;*/
}
.item{
  padding-top: 70px;
  height: 200px;
  width: 100%;
  /*margin-right: 7%;
  margin-left: 7%;*/
  margin: auto;
  position: relative;
}
.videoItem{
  padding-top: 30px;
  height: 400px;
  width: 400px;
  /*width: 100%;*/
  /*margin-right: 7%;
  margin-left: 7%;*/
  margin: auto;
}
.panelCEO{
  transition: 2s ease;
  max-height: 0px;
  max-width: 80%;
}
.expandedCEOLetter{
  transition: 2s ease;
  max-height: 1850px;
  max-width: 80%;
}
.bulletPoints{
  display: inline-block;
  margin-left: 6%;
}
.letterCollapse{
  background-color: #ff5d00;
  color: white;
  margin: 0 auto;
  float: none;
  /*width: 100px;*/
  border-radius: 0;
  border: 1px solid #CAD5DD;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 12px;
  /*float: right;*/
  /*background-color: transparent;*/
  /*color: white;*/
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -19px;
  display: inline !important;
  /*transition: 2s ease;*/
}
.bulletPoints2{
  display: block;
  margin-left: 6%;
}
.quoteCard{
  background-color: white;
  /*border: 1px solid grey;*/
  width: 85%;
  margin: auto;
  /*padding-top: 70px;*/
  height: 220px;
}
.videoCard{
  width: 400px;
  margin: auto;
  height: 420px;
}
.modal{
  margin-top: 120px;
  overflow-y: auto;
}
.next{
  /*padding-top: 70px;*/
  /*margin-right: 85%;*/
}
.videoCard > .next{
  padding-top: 30px;
  height: 400px;
  width: 400px;
}
.videoCard > .prev{
  padding-top: 30px;
  height: 400px;
  width: 400px;
}
.prev{
  /*padding-top: 70px;*/
  /*margin-right: 70px;*/
}
.carousel-control{
  height: 25px;
  background-color: transparent;
  margin-top: 125px;
  width: 25px;
}
.leftIndicator{
  height: 50px;
  background-color: transparent;
  margin-top: 100px;
  width: 50px;
  margin-left: 0%;
  font-size: 50px;
}
.leftVideoIndicator{
  height: 50px;
  background-color: transparent;
  margin-top: 140px;
  width: 50px;
  margin-left: 25%;
  font-size: 50px;
}
.rightIndicator{
  height: 50px;
  background-color: transparent;
  margin-top: 100px;
  width: 50px;
  margin-right: 0%;
  font-size: 50px;
}
.rightVideoIndicator{
  height: 50px;
  background-color: transparent;
  margin-top: 140px;
  width: 50px;
  margin-right: 25%;
  font-size: 50px;
}
.indicatorsStyling{
  margin: auto;
  margin-top: 0;
  left: 50%;
  right: 50%;
  height: 15px;
  opacity: .5;
  position: sticky;
}
.videoIndicatorsStyling{
  margin: auto;
  margin-top: -105px;
  left: 50%;
  right: 50%;
  height: 15px;
  opacity: .5;
  position: sticky;
}
.activeItem{
  opacity: 1;
  color: white;
}
#myCarousel{
  margin-top: 25px;
}
.carouselSection{
  background-image: url('../imgs/corp/woodgrain.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  width: 100%;
  height: 450px;
}
.ourEmployeesTitle{
  margin-top: 60px;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.employeeQuote{
  margin-top: -25px;
  font-weight: 300;
}
.orangeBold{
  color: #ff5c00;
  font-weight: bold;
}
.quoteImage{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}
.quoteName{
  position: relative;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 2px;
  color: #929292;
  display: inline-block;
}
.quoteWrapper{
  width: 300px;
  text-align: left;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
}
.carousel .employeePhoto{
  margin-bottom: 25px;
}
.employeeName{
  font-size: 23px;
  margin-bottom: -25px;
  color: #929292;
}
.nameQuoteSub{
  font-weight: 300;
  margin-top: 0;
  padding-top: 0;
}
.carouselIndicators{
  width: 60%;
  /*position: inherit;*/
}
/*.carousel-indicators{
  position: sticky;
  margin-top: 0;
}*/
.indIndicator{
  margin: 2px;
  padding: 2px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: white;
  opacity: .4;
}
.carousel-indicators .active{
    margin: 2px;
    padding: 2px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
}
.active{
  opacity: .9;
}
.buttonStyling{
  text-align: center;
}
.infoContent{
  height: 143px;
  /*margin-right: 25%;*/
}
.infoText{
  margin-right: 25%;
}
.bottom0{
  bottom: 0;
  position: absolute;
}
.section218{
  height: 218px;
}


@media(max-width: 660px){
  .standard{
    display: none;
  }
  .anchorBtn{
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media(min-width: 661px){
  .mobileView{
    display: none;
  }
}
@media(max-width: 1024px){
  .headerMainText{
    margin-right: -2%;
  }
  /*.ceoIntroText{
    margin-left: 10%;
  }*/
  .pillarContent{
    margin-left: 100px;
  }
  .expandButton{
    margin-left: 115px;
  }
  .collapseButton{
    margin-left: 115px;
  }
  .employeeQuote{
    font-size: 28px;
  }
  .linkTitle{
    font-size: 20px;
  }
  .infoText{
    font-size: 11px;
  }
}
@media(min-width: 900px) and (max-width: 1024px){
  .rightVideoIndicator{
    margin-right: 15%;
  }
  .leftVideoIndicator{
    margin-left: 15%;
  }
}
@media(min-width: 1025px) and (max-width: 1220px){
.leftVideoIndicator{
  margin-left: 20%;
}
.rightVideoIndicator{
  margin-right: 20%;
}
}
@media(min-width: 700px) and (max-width: 899px){
  .rightVideoIndicator{
    margin-right: 8%;
  }
  .leftVideoIndicator{
    margin-left: 8%;
  }
}
@media(max-width: 699px){
  .rightVideoIndicator{
    margin-right: 0%;
  }
  .leftVideoIndicator{
    margin-left: 0%;
  }
}
@media(min-width: 950px) and (max-width: 1199px){
  .infoContent{
    margin-left: 8%;
    margin-right: 10%;
  }
}
@media(min-width: 768px) and (max-width: 949px){
  .infoContent{
    margin-left: 12%;
  }
}
@media (min-width: 930px) and (max-width: 1100px){
  .ceoIntroText{
    margin-left: 10%;
  }
}
@media(max-width: 929px){
  .ceoIntroText{
    margin-left: 16%;
  }
}
